annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
cachetools==5.3.3 ; python_version >= "3.12" and python_version < "4.0"
certifi==2024.6.2 ; python_version >= "3.12" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.12" and python_version < "4.0"
cryptography==42.0.8 ; python_version >= "3.12" and python_version < "4.0"
deprecated==1.2.14 ; python_version >= "3.12" and python_version < "4.0"
google-auth==2.29.0 ; python_version >= "3.12" and python_version < "4.0"
idna==3.7 ; python_version >= "3.12" and python_version < "4.0"
kubernetes==29.0.0 ; python_version >= "3.12" and python_version < "4.0"
oauthlib==3.2.2 ; python_version >= "3.12" and python_version < "4.0"
plumbum==1.8.3 ; python_version >= "3.12" and python_version < "4.0"
pyasn1-modules==0.4.0 ; python_version >= "3.12" and python_version < "4.0"
pyasn1==0.6.0 ; python_version >= "3.12" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.12" and python_version < "4.0"
pydantic-core==2.18.4 ; python_version >= "3.12" and python_version < "4.0"
pydantic-settings==2.3.1 ; python_version >= "3.12" and python_version < "4.0"
pydantic==2.7.3 ; python_version >= "3.12" and python_version < "4.0"
pygithub==2.3.0 ; python_version >= "3.12" and python_version < "4.0"
pyjwt[crypto]==2.8.0 ; python_version >= "3.12" and python_version < "4.0"
pynacl==1.5.0 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.12" and python_version < "4.0"
pywin32==306 ; platform_system == "Windows" and platform_python_implementation != "PyPy" and python_version >= "3.12" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.12" and python_version < "4.0"
pyyaml[libyaml]==6.0.1 ; python_version >= "3.12" and python_version < "4.0"
requests-oauthlib==2.0.0 ; python_version >= "3.12" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.12" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.12" and python_version < "4"
six==1.16.0 ; python_version >= "3.12" and python_version < "4.0"
types-pyyaml==6.0.12.20240311 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.12.1 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.2.1 ; python_version >= "3.12" and python_version < "4.0"
websocket-client==1.8.0 ; python_version >= "3.12" and python_version < "4.0"
wrapt==1.16.0 ; python_version >= "3.12" and python_version < "4.0"
